
.bg{
    --background:none;
    background-color: #ffa07a;
    // background-image: url('../../assets/img/stars.jpg');
    background-position: center ;
     background-repeat: no-repeat;
      background-size: cover;
}
.card{
    margin-top: 15%;
}
.logo{
    width: 50%;
    margin-left: 24%;
    margin-top: 10%;
    // height: 20%;
    align-items: center;
    position: center;
}